body {
  margin: 0;

  background-color: #f0ffff   ;
  

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
section{



}



*{


  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  }



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




#icones{

  display: flex;
  gap: 20px;

}

#icones a{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
  font-size: 150%;
  border-radius: 10px;
  text-decoration: none;
  color: #1d1d1d;
  box-shadow: 0px 0px 12px 2px rgb(0, 0, 0, 0.2);
  transform: box-shadow, 3s, ease;

}


#icones a:hover{


  box-shadow: 0px 0px 12px 8px  rgb(0, 0, 0, 0.3) ;

}

.section-titulo{

  color: #e9a209;
  font-size: 150%;
}
.section-subtitulo{

  font-size: 300%;

}



